.navbar {
  width: 100%;
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  height: 50px;
}
.Search-Field {
  width: 40%;
  height: 30px;
  padding: 5px;
}
.toggle-button {
  font-size: 1.5rem;
}
