.container {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.card {
  width: 220px;
  height: 350px;
  margin: 10px 10px;
  box-shadow: 5px 5px 5px;

  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  color: #242424;
  border-radius: 8px;
}

.card:hover {
  transform: scale(1.01);
}

.movie-poster-container {
  width: 220px;
  margin: 0 auto;
  height: 200px;
}
.movie-poster {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
}
.movie-info-container {
  height: 100%;
  border-radius: 0 0 8px 8px;
  margin: 10px 10px;
  text-align: center;
}

.imdbRatingNumber {
  font-size: 1.2rem;
  font-weight: 700;
}
.star {
  color: goldenrod;
  margin: 10px 10px;
padding:5px 5px;
}

.watch-trailer-button {
  background-color: #242424;
  color: white;

  padding: 10px 10px;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  display: block;
}

.watch-trailer-button:hover {
  background-color: orangered;
  box-shadow: 2px 2px 2px black;
  transform: scale(1.1);
}
.movie-title {
  font-size: 1.2rem;
  text-align: center;
  margin: 5px 5px;
}

